<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title> {% block title %} {{ title }} {% endblock %}</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
     <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
     <script src="/issr.js"></script>
     <script noupdate="t">
       connect(
           {% block issr-id %} {{ issr-id }} {% endblock %},
           'ws',
           {% block ws-port %} {{ ws-port }} {% endblock %}
       )
     </script>
    </head>
    <body>
      {% block content %} {% endblock %}
    </body>
  </html>
